:root {
  --green-color: rgb(71 154 153);
  --blue-color: rgb(102 154 204);
  --black-color: rgb(51 51 51);
  --red-color: rgb(155 27 13);
  --orange-color: rgb(239 140 83);
  --red-light-color: rgb(205 102 103);
}

#root {
  height: 1vh;
}

.font-lilita-one {
  font-family: 'Lilita One', cursive;
}

main {
  min-height: 400px;
  background-color: #FFF;
  top: -50px;
  width: 85%;
  border-radius: 20px;
}

.photo-container {
  height: 250px;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

footer {
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0.8) 75%, rgba(51, 51, 51, 0.3));
}

.bg-green {
  background-color: var(--green-color);
}
